body {
    background-image: url('imagens/azulfofo.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}


.botao-img {
    width: 750px;
    cursor: pointer;
    height: auto;
    margin-top: 90px;
    display: inline-block;
    animation: pulse 1.5s infinite;
    transition: transform 0.1s ease, filter 0.1s ease;

}

.botao-img:active {
    transform: scale(0.92);
    filter: brightness(1,2);
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% {transform: scale(1); }
}